.task {
  position: relative;
  width: 100%;
  background-color:rgb(54, 64, 73);
  height: 150px; 
  min-height: 150px;   
  border-radius: 4px;
  margin-bottom: 4px;  
  user-select: none;    
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: xx-large;
}

.task:hover {
  opacity: 0.8;
}



.divOptionsTask {
  width: 100%;
  display: flex;
  justify-content: end;
  padding-right: 5px;
}


.contentTask {
  position: absolute;
  width: 100%;  
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.datesTask {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 10px;
  bottom: 0;
}