.optionsTask {
  position: relative;
  width: min-content;
  height: min-content;
  position: relative;
  margin-right: 0;
  font-size: small;
}


.optionsTask summary {
  list-style-type: '' ;
  width: 15px;
  
 
  
}

.optionsTask:hover {
  opacity: 0.9;
}

.optionsTask[open] {
  
}

.optionsTask[open] summary {
 

}


